<li>
  <div class="title">
    <%= link_to product.title, product %>
  </div>
  <div class="description"><%= product.description %></div>
  Цена: <div class="price"><%= product.price %></div>
  <div>Торги начинаются <%= product.start_at %>.</div>
  <div>Торги заканчиваются <%=product.finish_at %>.</div>
</li>
